* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}
h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
    padding: 20px;
}
 a {
    color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: center;
}
.phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}
/* tent section */
.tent {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tent h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 42px;
    border: 1px solid white;
    margin-bottom: 30px;
}

.tent p {
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    margin: 20px;
}
#tent {
    margin: 25px;
}

/* footer section */
.footer {
    text-align: center;
}
.footer h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: normal;
    font-size: 50px;
    margin: 50px;
}
#copy {
    color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    text-align: right;
    margin: 20px;
}
.footer p {
    margin-bottom: 50px
}