* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}
h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    text-align: center;
    padding: 20px;
}
 a {
    color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: center;
}
.phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}